<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bed.css') }}">
</head>

<body>
    <div class="nav">
        <h1>Comfy Homes</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/liv">Living</a></li>
            <li><a href="/bed" id="active">Bedroom </a></li>
            <li><a href="/din">Dining</a></li>
            <li><a href="/kit">Kitchen</a></li>
            <!-- <li routerLinkActive="activelink" routerLink="/favourites"><a href="/liv" >Living</a>Favourites</li> -->

        </ul>

        <button>Logout</button>

    </div>
    <div class="images">
        <div class="image">
            <img src="{{ url_for('static', filename='/images/chambre1.jpg') }}" alt="ch1">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='/images/chambre8.jpg') }}" alt="ch2">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='/images/chambre7.jpg') }}" alt="ch3">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='/images/chambre6.jpg') }}" alt="ch4">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='/images/chambre5.jpg') }}" alt="ch5">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='/images/chambre4.jpg') }}" alt="ch6">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='/images/chambre3.jpg') }}" alt="ch7">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='/images/chambre2.jpg') }}" alt="ch8">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='/images/chambre 9.jpg') }}" alt="ch9">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
        </div>
    </div>
</body>
</body>