<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='din.css') }}">
</head>

<body>
    <div class="nav">
        <h1>Comfy Homes</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/liv">Living</a></li>
            <li><a href="/bed">Bedroom </a></li>
            <li><a href="/din" id="active">Dining</a></li>
            <li><a href="/kit">Kitchen</a></li>
            <!-- <li routerLinkActive="activelink" routerLink="/favourites"><a href="/liv" >Living</a>Favourites</li> -->

        </ul> 

        <button>Logout</button>

    </div>
    <div class="images">
        <div class="image">
            <img src="{{ url_for('static', filename='/images/din1.jpg') }}" alt="din1">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='/images/din2.jpg') }}" alt="din2">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='/images/din3.jpg') }}" alt="din3">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='/images/din4.jpg') }}" alt="din4">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='/images/din5.jpg') }}" alt="din5">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='/images/din6.jpg') }}" alt="din6">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='/images/din7.jpg') }}" alt="din7">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='/images/din8.jpg') }}" alt="din8">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='/images/din9.jpg') }}" alt="din9">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
        </div>
    </div>
</body>
</body>