<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='liv.css') }}">
</head>

<body>
    <div class="nav">
        <h1>Comfy Homes</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/liv" id="active">Living</a></li>
            <li><a href="/bed">Bedroom </a></li>
            <li><a href="/din">Dining</a></li>
            <li><a href="/kit">Kitchen</a></li>
            <!-- <li routerLinkActive="activelink" routerLink="/favourites"><a href="/liv" >Living</a>Favourites</li> -->

        </ul>

        <button>Logout</button>

    </div>
    <div class="images">
        <div href="" class="image">
       
            <img  src="{{ url_for('static', filename='/images/liv1.jpg') }}" alt="liv1">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
                
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='/images/liv2.jpeg') }}" alt="liv1">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='/images/liv9.jpg') }}" alt="liv1">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='/images/liv4.png') }}" alt="liv1">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='/images/liv5.jpeg') }}" alt="liv1">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='/images/liv6.jpg') }}" alt="liv1">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='/images/liv7.png') }}" alt="liv1">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='/images/liv8.jpg') }}" alt="liv1">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='/images/liv3.jpg') }}" alt="liv1">
                <h3>Price:450,000frs</h3>
                <h3>Location:Bamenda</h3>
                <h3>Shop Location:Commercial avenue shed 385</h3>
        </div>
    </div>
</body>
